<div class="processo-queue-item item-{{processo.color}}">
  <span class="item-pid">PID: {{processo.Processo.PID}}</span>
  <span class="space"></span>
  <span class="item-duracao">Dur.: {{processo.Processo.TDuracao}}s</span>

  <div class="clearfix"></div>

  <span *ngIf="showDeadline" class="item-deadline item-center">{{processo.Processo.TDeadline}}s</span>
  <span *ngIf="!showDeadline" class="item-priority item-center">{{processo.Processo.Prioridade}}</span>
  <div class="clearfix"></div>
  <span class="item-restante">Restante: {{processo.Processo.TRestante}}s</span>
</div>
