<div *ngIf="core.Processo" class="processo-queue-item item-{{core.color}}">
  <span class="item-pid">PID: {{core.Processo.PID}}</span>
  <span class="space"></span>
  <span class="item-duracao">Dur.: {{core.Processo.TDuracao}}s</span>

  <div class="clearfix"></div>

  <span *ngIf="showDeadline" class="item-center">{{core.Processo.TRestante}}s</span>
  <span *ngIf="showDeadline" class="item-restante">Deadline: {{core.Processo.TDeadline}}s</span>

  <span *ngIf="!showDeadline" class="item-center">{{core.Processo.Prioridade}} - {{core.Processo.Quantum}}s</span>
  <span *ngIf="!showDeadline" class="item-restante">Restante: {{core.Processo.TRestante}}s</span>
</div>

<div *ngIf="!core.Processo" class="processo-queue-item">
    <span class="item-priority item-center">Empty</span>
    <div class="clearfix"></div>
</div>