.processo-queue-item {
    float: left;
    min-width: 100px;
    min-height: 90px;
    padding: 5px;
    border-radius: 5px;
    word-break: break-all;
    font-size: 11px;
    margin: 2px;
    text-align: center;
    box-shadow: 1px 1px 3px #000;
}
.processo-queue-item:hover{
    box-shadow: 0px 0px 7px #000;
}

.item-pid{
    float: left;
}
.item-duracao{
    float: right;
}

.item-center{
    font-size: 30px;
}

.item-red{
    background-color: #961111;
    color: white;
}

.item-blue{
    background-color: #113b96;
    color: white;
}

.item-green{
    background-color: #11964b;
    color: white;
}

.space{
    height: 1px;
    width: 2px;
}

.item-restante{
    display: block;
}