<div class="panel panel-primary">
  <div class="panel-heading">Menu</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1">Algoritmo de escalonamento</label>
          <select (change)="onChangeAlgoritmo($event.target.value)" class="form-control" 
            id="sel1" [disabled]="running">
            <option value="1">Round Robin Priority</option>
            <option value="2">Least Time To Go</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <label for="sel1">Processos inicias</label>
        <input type="number" [(ngModel)]="MenuViewModel.QuantidadeProcessosIniciais" class="form-control" min=0 [disabled]="running">
      </div>
      <div class="col-md-2">
        <label for="sel1">Cores (1 a 64)</label>
        <input type="number" [(ngModel)]="MenuViewModel.QuantidadeCores" class="form-control" min=1 max=64 [disabled]="running">
      </div>
      <div class="col-md-2">
        <label for="sel1">Quantum (2 a 20)</label>
        <input type="number" [(ngModel)]="MenuViewModel.Quantum" class="form-control" min=2 max=20 [disabled]="running">
      </div>
      <div class="col-md-2">
        <label class="col-md-12">&emsp;</label>
        <button *ngIf="!running" class="btn btn-success col-md-12" (click)="onClickStart()">Iniciar</button>
        <button *ngIf="running" class="btn btn-danger col-md-12" (click)="onClickStop()">Parar</button>
      </div>
    </div>
    <div *ngIf="running" class="row">
      <esc-add-proccess></esc-add-proccess>
    </div>
  </div>
</div>