.processo-queue{
    min-height: 110px;
    max-height: 480px;
    width: auto;
    margin: 5px;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow-y: scroll;    
}

.processo-queue:not(.unlimited-itens) {
    height: 110px;
}


.processo-queue:hover{
    background-color: #f5f5f5;
}

.cursor{
    border-color: red;
}