<div class="panel panel-info">
  <div class="panel-heading">Menu de memória</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="" class="col-md-12">Algoritmo de alocação de memória</label>
          <select (change)="onChangeAlgoritmo($event.target.value)" class="form-control" [disabled]="running">
            <option value="1">Merge fit</option>
            <option value="2">Quick fit</option>
            <option value="3">Best fit</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="" class="col-md-12">Tamanho total da memória</label>
          <input [(ngModel)]="ViewModel.size" type="number" class="form-control" [disabled]="running">
        </div>
      </div>
      <div *ngIf="ViewModel.algoritmo == 2">
        <div class="col-md-3">
          <div class="form-group">
            <label for="" class="col-md-12">Quantidade de listas</label>
            <input [(ngModel)]="ViewModel.qtdLista" type="number" class="form-control" [disabled]="running">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="" class="col-md-12">Intervalo de requisições</label>
            <input [(ngModel)]="ViewModel.intervalo" type="number" class="form-control" [disabled]="running">
          </div>
        </div>
      </div>
    </div>
    <div class="row" >
    </div>
  </div>
</div>
