<div class="col-md-2">
  <label class="col-md-12">&emsp;</label>
  <button class="btn btn-success" (click)="onClickAdicionarProcesso()">Adicionar processo</button>
</div>
<div class="col-md-10">
  <div class="panel panel-default">
    <div class="panel-body">
      <span *ngFor="let p of newProcessInfo;let i = index; let isOdd = odd; let isEven = even" class="label" [class.label-primary]="isOdd"
        [class.label-info]="isEven">
              {{p.name}}: {{p.value}}
            </span> &emsp;
    </div>
  </div>
</div>