<div class="">
  <div class="col-md-12">
    <esc-menu (AlgoritmoSelecionado)="algoritmo = $event" ></esc-menu>
  </div>
  <div class="">
    <div class="col-md-5">
      <esc-processador></esc-processador>
    </div>
    <div class="col-md-7">
      <div [ngSwitch]="algoritmo">
        <div *ngSwitchCase="1">
          <esc-round-robin-priority></esc-round-robin-priority>
        </div>
        <div *ngSwitchCase="2">
          <esc-least-time-to-go></esc-least-time-to-go>
        </div>
        <div *ngSwitchCase="3">
          
        </div>
      </div>
    </div>
  </div>
</div>
